header {
  text-align: center;
  margin: 10px auto 50px;
  .hexagon-anim {
    height: 100px;
    width: 100px;
    margin: 0 auto 10px;
  }
  h1 {
    font-size: 32px;
  }
  a, a:hover, a:visited, a:active {
    color: $primary-color;
  }
}