.home {
  width: 100%;
  min-height: 60vh;
  display: inline-block;
  margin: 20px auto 60px;
  position: relative;
  z-index: 2;
  background: $bg-color;
  .file-input {
    position: absolute;
    z-index: 5;
    height: $file-input-height;
    width: $file-input-height;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    cursor: pointer;
    text-align: center;
    line-height: $file-input-height;
    color: $secondary-color;
    background-image: linear-gradient($primary-color 33%, $bg-color 0%);
    background-position: right;
    background-size: 1px 4px;
    .text-bg {
      background: $bg-color;
      padding: 2px 5px;
    }
  }
  input {
    display:none;
  }
  canvas {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    margin: auto;
    display: inherit;
    border: 4px solid $primary-color;
  }

  &.is-file {
    width: auto;
    min-height: 0px;
    .file-input {
      display: none;
    }
  }
}
