.home {
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: stretch;
  margin: 20px auto 60px;
  position: relative;
  z-index: 2;
  background: $bg-color;
  .input-container {
    position: absolute;
    z-index: 5;
    height: $file-input-height;
    width: $file-input-height;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    color: $secondary-color;
    background-image: linear-gradient($primary-color 33%, $bg-color 0%);
    background-position: right;
    background-size: 1px 4px;
    text-align: center;
    label {
      cursor: pointer;
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      margin: auto;
      .text-bg {
        background: $bg-color;
        padding: 2px 5px;
        line-height: $file-input-height;
      }
    }
    .file-error {
      display: inline-block;
      width: 80%;
      margin: auto;
      background: $bg-color;
      position: absolute;
      bottom: 25%;
      left: 0; right: 0;
      padding: 4px 0;
      border-bottom: 2px solid $secondary-color;
    }
  }
  input {
    display:none;
  }
  canvas {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    display: inherit;
    box-sizing: border-box;
    border: 4px solid $primary-color;
  }
  .btn {
    color: $primary-color;
    min-width: 80px;
    padding: 10px 5px;
    background: $bg-color;
    border: 2px solid $primary-color;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    line-height: 20px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.4s;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.download {
      top: 60px;
    }
  }
  &.is-file {
    width: auto;
    min-height: 0px;
    display: inline-block;
    &:hover {
      .btn {
        opacity: 1;
      }
    }
    .input-container {
      display: none;
    }
  }
}
