@import 'lib/reset';
@import 'lib/mixins';

@import 'config/variables';

@import 'components/layout';
@import 'components/header';
@import 'components/home';
@import 'components/404';
@import 'components/footer';